.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
  padding-top: 20px;
}
.attribution a {
  color: var(--tomato);
}

.illustration-desktop {
  background-image: url(../src/assets/images/illustration-sign-up-desktop.svg);
}

.my-btn {
  background-color: var(--darkSlateGrey);
}

.my-btn:hover {
  background-image: linear-gradient(to right, var(--pink), var(--tomato));
}

.updated-text {
  font-size: 3.4rem;
}

.newsletter-container {
  width: 928px;
}
