@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  background-color: var(--charcoalGrey);
  color: var(--charcoalGrey);

  /*PRIMARY*/
  --tomato: hsl(4, 100%, 67%);
  --pink: hsl(351, 100%, 67%);
  /*NEUTRAL*/
  --darkSlateGrey: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  margin: 0;
  width: 100%;
}
